.sin-stock {
    position: relative;
  }
  
  .sin-stock-badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    width: 150px;
    font-size: x-large;
  }